.maindiv {

    width: 100vw;
    height: 50vh;
    background-image: url(../images/p2.png);
    background-size: cover;
}

.secend {
    width: 569px;
    height: 643px;
    background-color: #1A1A1AD4;
    position: absolute;
    top: 100px;
    left: 900px;
}

@media (max-width:1200px) {


    .maindiv {
        width: 100vw;
        height: 40vh;

    }

    .secend {
        width: 299px;
        height: 441px;
        position: absolute;
        top: 89px;
        left: 40px;


    }

}