 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 nav {
     width: 100vw;
     direction: rtl;


 }

 .navbar-brand {
     position: absolute;
     left: 80px;
     font: normal normal normal 30px/60px Satisfy;
 }

 nav>div>img {
     position: absolute;
     left: 0;
     width: 50px;
     height: 50px;
 }

 li {
     margin-left: 50px;
 }

 section {

     width: 100%;
     height: 80vh;
     background-image: url(../projectimg/mountain.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     direction: rtl;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }

 section::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 80%;
     background-color: rgba(0, 0, 0, 0.7);
 }

 .pro-case {
     width: 60vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     z-index: 1;
 }

 .myproject {
     font: normal normal 900 80px/118px Heebo;
     text-align: center;
     color: #dfc430;
     height: 43px;
     font-size: 42px;
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
     align-items: center;
 }

 /* section>div>h1::first-letter {
     font-weight: bold;
     color: red;
 } */

 .paragraph {
     font-size: 20px;
     font-weight: 600;
     color: #ffffff;
     text-align: center;
     font: normal normal medium 20px/30px Heebo;
 }

 .img-div {

     background-color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 130px;
     background-color: #dfc430;

 }

 .imgs {

     display: flex;
     justify-content: center;
     gap: 25px;
     flex-wrap: wrap;
     width: 100vw;
     height: 100px
 }

 .imgs>img {
     border-radius: 50%;
 }

 .grade {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 100px;
 }


 .myinfo {
     width: 100%;
     /* height: 100vh; */
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #ffffff;
     /* border-radius: 50%; */
     background-color: rgba(0, 0, 0, 0.7);
 }

 .myinfo2 {
     width: 60vw;
     /* height: 80vh; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;

 }

 .myimg {
     width: 141px;
     height: 139px;
 }



 .aboutme {
     color: #dfc430;
     text-align: right;
     font: normal normal 900 35px/52px Heebo;

 }



 .aboutme-p {
     text-align: center;
     font: normal normal normal 20px/29px Heebo;
     letter-spacing: 0px;
     color: #dfc430;
 }



 .myinfobutton {
     width: 260px;
     height: 41px;
     background: #dfc430;
     border-radius: 25px;
     color: #ffffff;
     font: normal normal bold 20px/30px Heebo;
     margin-bottom: 25px;
 }

 .myinfobutton:hover {
     background-color: rgba(0, 0, 0, 0.7);
 }

 .mywork {
     max-width: 100%;
     max-height: 2400px;
     display: flex;
     /* background-color: rgba(0, 0, 0, 0.7); */
     align-items: center;
     flex-direction: column;
 }


 .mywork1 {
     width: 70vw;
     max-height: 2400px;
     text-align: center;
     display: flex;
     flex-direction: column;

     align-items: center;
     margin-top: 30px;
 }

 .workhead {
     width: 30vw;

     display: flex;
     align-items: center;
     flex-direction: column;
 }


 .show-b {
     font-weight: bold;
     text-align: center;
     font-size: 20px;
     color: #ffffff;
     background-color: #dfc430;
     width: 250px;
     height: 35px;
     border-radius: 25px;
 }

 .show-b:hover {
     background-color: rgba(0, 0, 0, 0.7);
 }

 .workhead>h1 {
     font: normal normal 600 36px/53px Heebo;
     color: #3A3A3A;

 }

 .workhead>p {
     text-align: center;
     font: normal normal normal 20px/29px Heebo;
     color: #3A3A3A;

 }


 .main-card {

     width: 90%;
     max-height: 2450px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: center;
     align-items: center;
     transition: all 5s;
 }

 .card {
     width: 250px;
     height: 350px;
     background-color: aliceblue;
     box-shadow: 0px 0px 15px 15px #dfc430;
     border-radius: 10px;



 }

 .iconimg {
     width: 122px;
     height: 26px;
     margin: 0 auto;

 }

 .iconimg>img {
     width: 27px;
     height: 26px;
 }

 .myworkimg {
     width: 100%;
     height: 150px;
     border-radius: 10px 10px 0px 0px;

 }

 .myworkimg>img {
     width: 100%;
     height: 150px;

 }

 .h2>h2 {

     text-align: center;
     font: normal normal medium 23px/34px Heebo;

     color: #3A3A3A;
 }

 .h2>p {
     text-align: center;
     font: normal normal normal 16px/24px Heebo;
     color: #3A3A3A;
 }

 .card-butt {
     width: 150px;
     height: 30px;
     background: #dfc430;
     border-radius: 15px;
     margin: 0 auto;
     margin-bottom: 15px;
 }

 .hide {

     display: none;

 }

 .js-Container {
     margin: 0 auto;
     max-width: 800px;
     max-height: 2800px;
     margin-bottom: 50px;
     margin-top: 35px;


 }

 .jsHead {
     text-align: center;
     font: normal normal normal 20px/29px Heebo;
     color: #3A3A3A;


 }

 .m-card {

     display: none;
 }

 .m-c {
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     gap: 15px;

 }

 .jsHead>button {
     font-weight: bold;
     text-align: center;
     font-size: 20px;
     color: #ffffff;
     background-color: #dfc430;
     width: 250px;
     height: 35px;
     border-radius: 25px;
 }

 .jsHead>button:hover {
     background-color: rgba(0, 0, 0, 0.7);
 }

 .js-Container>.card>input {
     margin-left: 50px;
 }

 .contact {
     width: 100%;
     height: 950px;
     background-image: url(../projectimg/HomePage-WEB/Rectangle\ 41.png);
     background-repeat: no-repeat;
     background-color: #3A3A3A;
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: end;
 }

 .form {
     width: 549px;
     height: 646px;
     /* position: relative;
     top: 200px;
     left: 950px;*/
     margin-right: 50px;
     direction: rtl;
 }

 .form>h3 {
     font: normal normal 900 36px/53px Heebo;
     color: #dfc430
 }

 .form>p {
     font: normal normal normal 20px/29px Heebo;
     color: #dfc430;
 }

 form {
     display: flex;
     flex-direction: column;
 }

 form>input {
     height: 50px;
     border: none;
     border-bottom: 3px solid #dfc430;
 }

 textarea {
     border: none;
     border-bottom: 3px solid #dfc430;
 }

 label {
     font: normal normal bold 16px/24px Heebo;
     color: #dfc430;
 }

 .form-button {
     margin-top: 15px;
     width: 166px;
     height: 50px;
     border-radius: 25px;
     background-color: #dfc430;
     font: normal normal bold 22px/30px Heebo;
     letter-spacing: 0.33px;
     color: #2C2C2C;
 }

 .form-button:hover {
     background-color: rgba(0, 0, 0, 0.7);
 }

 .footer {
     width: 100%;
     height: 150px;
     background-color: #dfc430;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     justify-content: space-evenly;
 }



 .footer>div {

     width: 74px;
     height: 81px;
 }

 .footer>div>img {
     margin-left: 15px;
     width: 41px;
     height: 41px;
 }

 .footer>div>p {
     text-align: center;
     font: normal normal normal 14px/16px Helvetica Neue;
     color: #dfc430;
     margin-top: 15px;

 }


 .lastfooter {
     width: 100%;
     height: 51px;
     background-color: rgba(0, 0, 0, 0.7);
     display: flex;
     align-items: center;
     justify-content: space-between;


 }

 .lastfooter>p {
     display: block;
     font: normal normal 300 20px/29px Heebo;
     color: #dfc430;
 }


 @media screen and (max-width:1250px) {
     .myproject {
         font: normal normal 900 46px/67px Heebo;
     }

     .paragraph {
         font: normal normal medium 15px/25px Heebo;
     }


     .imgs>img {
         width: 46px;
         height: 45px;
     }

     .myimg {
         width: 141px;
         height: 139px;
     }

     .aboutme {
         font: normal normal 900 25px/37px Heebo;
     }

     .aboutme-p {
         font: normal normal normal 15px/22px Heebo;
     }

     .myinfo {
         width: 100vw;
         /* height: 70vh; */
     }

     .mywork {
         width: 100VW;
         /* height: 1360px; */
     }

     .mywork1 {
         width: 70%;
         /* height: 90%; */
         justify-content: flex-start;


     }

     .workhead {
         width: 100%;
         /* height: 2400px; */
     }



     .contact {
         width: 100vw;
         background-size: 70%;
     }

     .form {
         width: 80%;
     }

     .footer {
         height: 400px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-items: center;

     }

     footer>div {
         width: 126px;
         height: 92px;
     }

     .footer>div>img {
         width: 52px;
         height: 42px;
     }


 }

 @media screen and (max-width:710px) {
     .firstword {
         font-size: 35px;
     }

     .paragraph {
         font-size: 13px;
     }

     .myproject {
         font-size: 26px;
     }
 }

 @media screen and (max-width:450px) {
     .mywork {
         max-height: 2500px;
     }

     .mywork1 {
         max-height: 2300px;
     }

     .paragraph {
         font-size: 11px;
     }

     .myproject {
         font-size: 20px;
     }
 }